.sider {
  width: 300px !important;
  border-right: 1px solid #e8e8e8;
  background: #f5f7f9 !important;
  color:#314659;
  .ant-menu-root{
    background: #f5f7f9;
    border:none;
    padding-top: 30px;
    .ant-menu-sub{
      font-weight: normal;
      background: #f5f7f9;
    }
    .sub-menu-title{
      font-family: Roboto-bold, sans-serif;
    }
  }
}